signupdtd.dtd

<!ELEMENT CUREME (CUSTOMER)*>
<!ELEMENT CUSTOMER (FULLNAME, USERNAME, EMAIL, PASSWORD, CONFIRMPASSWORD, PHONENUMBER)>

<!ELEMENT FULLNAME (#PCDATA)>
<!ELEMENT USERNAME (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT PASSWORD (#PCDATA)>
<!ELEMENT CONFIRMPASSWORD (#PCDATA)>
<!ELEMENT PHONENUMBER (#PCDATA)>

